* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.intro {
    width: 100vh;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
}

section {
    background-color: black;
    height: 100vh;
}

section h1 {
    color: white;
}